.tabcontent {
    display: none;
  }
  .tab a.active {
    background-color: #f6f6f6;
    color: #353535;
    font-weight: bold;

  }
  .tab a:hover {
    background-color: #ddd;
  }
  a.tablinks {
    background-color: #a0a8ba;
    border: none;
    cursor: pointer;
    padding: 5px 6px;
    transition: 0.3s;

    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .settings_input{
      float:right;
  }

  .risk-matrix .scheme-1{
    background: #ff0000 !important;
    color: white !important;
  }
  .risk-matrix .scheme-7{
    background: #ffc000 !important;
  }
  .risk-matrix .scheme-3{
    background: #ffff00 !important;
  }
  .risk-matrix .scheme-5{
    background: #92d050 !important;
  }
  .risk-matrix .scheme-5{
    background: #92d050 !important;
  }
  .risk-matrix__cell{
    background: #00b0f0 !important;
  }
